.searchInp {
    display: block;
    outline: none;
    position: relative;
    width: 650px;
    height: 45px;
    left: 620px;
    bottom: 30px;
    background: none;
    border: none;
    font-size: 25px;
    color: #708199;
}
.container {
    position: relative;
    left: 570px;
    top: 50px;
    width: 750px;
    height: 55px;
    background: #D9DBD8;
    border-radius: 9999px;
}
.logo-glass {
    width: 25px;
    height: 25px;
    color: #708199;
    position: relative;
    left: 587px;
    top: 10px;
}
